<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    
    <!-- Swiper CSS -->
       {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- CSS principal del tema -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
        <!-- CSS principal del tema -->
   {{ 'swiper-custom.css' | asset_url | stylesheet_tag }}

    <!-- Hooks de contenido para el header (inclusión automática de plugins) -->
    {{ content_for_header }}

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> {% endcomment %}

    <!-- Alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <!-- Sección del header -->
    {% section 'header' %}

    <!-- Contenido principal -->
    <main role="main" class="">
      {{ content_for_layout }}
    </main>
    <!-- Sección del footer -->
    {% section 'footer' %}

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Inicialización de Swiper -->
     <script>
   window.addEventListener('pageshow', function(event) {
    if (event.persisted) {
        window.location.reload();
    }
});

     </script>
    

    <!-- Scripts principales del tema -->
    {{ 'application.js' | asset_url | script_tag }}

  </body>
</html>
