{% comment %} Carousel de Nuevos Productos {% endcomment %}
<div class="bg-[#f8f8f8] py-10 my-10 mx-[0.3em] lg:mx-0">
  <div class="lg:mx-20 relative group">
    <div class="flex justify-between items-center my-8 mx-2 lg:mx-0">
      <div>
        <h2 class="text-2xl font-semibold text-gray-800">{{ section.settings.new_products_title }}</h2>
        <p class="text-gray-600">{{ section.settings.new_products_subtitle }}</p>
      </div>
      <a href="{{ section.settings.new_products_link }}" class="bg-[#52A1BF] text-white font-semibold py-2 px-4 rounded-full hover:bg-[#52A1BF] transition duration-300 flex items-center justify-center whitespace-nowrap space-x-2">
        <span>{{ section.settings.new_products_button_text }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>

    <div class="swiper productSwiper my-8 z-10">
      <div class="swiper-wrapper">
        {% assign new_products = collections.all.products | sort: 'created_at' | reverse %}
        {% for product in new_products limit: 10 %}
          <div class="swiper-slide bg-white p-4 border border-gray-300 rounded-lg flex flex-col">
            <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}" class="w-full h-auto mb-4">
            <div class="flex flex-col items-start w-full">
              <div class="{% if product.available %}text-[#52A1BF]{% else %}text-red-500{% endif %} font-semibold text-left w-full">
                {% if product.available %}En stock{% else %}Agotado{% endif %}
              </div>
              <h3 class="text-lg font-bold text-gray-800 mt-2 text-left w-full">{{ product.title }}</h3>
              <div class="flex items-center mt-2 w-full">
                <span class="text-lg font-bold text-gray-900">{{ product.price | money }}</span>
                {% if product.compare_at_price > product.price %}
                  <span class="text-sm line-through text-gray-500 ml-2">{{ product.compare_at_price | money }}</span>
                {% endif %}
              </div>
            </div>
            {% if product.has_only_default_variant %}
              <button class="bg-[#1D495B] text-white py-2 px-4 rounded-full mt-4 w-full text-center">Agregar al carrito</button>
            {% else %}
              <a href="{{ product.url }}" class="bg-[#1D495B] text-white py-2 px-4 rounded-full mt-4 w-full text-center">Seleccionar opciones</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="hidden lg:flex swiper-button-next opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
      <div class="hidden lg:flex swiper-button-prev opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
    </div>
  </div>
</div>

{% comment %} Carousel de Productos en Oferta {% endcomment %}
<div class="lg:mx-20 relative group">
  <div class="flex justify-between items-center my-8 mx-2 lg:mx-0">
    <div>
      <h2 class="text-2xl font-semibold text-gray-800">{{ section.settings.sale_products_title }}</h2>
      <p class="text-gray-600">{{ section.settings.sale_products_subtitle }}</p>
    </div>
    <a href="{{ section.settings.sale_products_link }}" class="bg-[#52A1BF] text-white font-semibold py-2 px-4 rounded-full hover:bg-[#52A1BF] transition duration-300 flex items-center justify-center whitespace-nowrap space-x-2">
      <span>{{ section.settings.sale_products_button_text }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </a>
  </div>

  <div class="swiper productSwiper my-8 z-10">
    <div class="swiper-wrapper">
      {% assign sale_products = collections.all.products | where: "compare_at_price" %}
      {% for product in sale_products limit: 10 %}
        <div class="swiper-slide bg-white p-4 border border-gray-300 rounded-lg flex flex-col">
          <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}" class="w-full h-auto mb-4">
          <div class="flex flex-col items-start w-full">
            <div class="{% if product.available %}text-[#52A1BF]{% else %}text-red-500{% endif %} font-semibold text-left w-full">
              {% if product.available %}En stock{% else %}Agotado{% endif %}
            </div>
            <h3 class="text-lg font-bold text-gray-800 mt-2 text-left w-full">{{ product.title }}</h3>
            <div class="flex items-center mt-2 w-full">
              <span class="text-lg font-bold text-gray-900">{{ product.price | money }}</span>
              <span class="text-sm line-through text-gray-500 ml-2">{{ product.compare_at_price | money }}</span>
            </div>
          </div>
          {% if product.has_only_default_variant %}
            <button class="bg-[#1D495B] text-white py-2 px-4 rounded-full mt-4 w-full text-center">Agregar al carrito</button>
          {% else %}
            <a href="{{ product.url }}" class="bg-[#1D495B] text-white py-2 px-4 rounded-full mt-4 w-full text-center">Seleccionar opciones</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="hidden lg:flex swiper-button-next opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
    <div class="hidden lg:flex swiper-button-prev opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
  </div>
</div>

{% comment %} Carousel de Productos Recomendados {% endcomment %}
<div class="lg:mx-20 relative group">
  <div class="flex justify-between items-center my-8 mx-2 lg:mx-0">
    <div>
      <h2 class="text-2xl font-semibold text-gray-800">{{ section.settings.recommended_products_title }}</h2>
      <p class="text-gray-600">{{ section.settings.recommended_products_subtitle }}</p>
    </div>
    <a href="{{ section.settings.recommended_products_link }}" class="bg-[#52A1BF] text-white font-semibold py-2 px-4 rounded-full hover:bg-[#52A1BF] transition duration-300 flex items-center justify-center whitespace-nowrap space-x-2">
      <span>{{ section.settings.recommended_products_button_text }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </a>
  </div>

  <div class="swiper productSwiper my-8 z-10">
    <div class="swiper-wrapper">
      {% assign recommended_products = collections.all.products | sort: 'updated_at' | reverse %}
      {% for product in recommended_products limit: 10 %}
        <div class="swiper-slide bg-white p-4 border border-gray-300 rounded-lg flex flex-col">
          <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}" class="w-full h-auto mb-4">
          <div class="flex flex-col items-start w-full">
            <div class="{% if product.available %}text-[#52A1BF]{% else %}text-red-500{% endif %} font-semibold text-left w-full">
              {% if product.available %}En stock{% else %}Agotado{% endif %}
            </div>
            <h3 class="text-lg font-bold text-gray-800 mt-2 text-left w-full">{{ product.title }}</h3>
            <div class="flex items-center mt-2 w-full">
              <span class="text-lg font-bold text-gray-900">{{ product.price | money }}</span>
              {% if product.compare_at_price > product.price %}
                <span class="text-sm line-through text-gray-500 ml-2">{{ product.compare_at_price | money }}</span>
              {% endif %}
            </div>
          </div>
          {% if product.has_only_default_variant %}
            <button class="bg-[#1D495B] text-white py-2 px-4 rounded-full mt-4 w-full text-center">Agregar al carrito</button>
          {% else %}
            <a href="{{ product.url }}" class="bg-[#1D495B] text-white py-2 px-4 rounded-full mt-4 w-full text-center">Seleccionar opciones</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="hidden lg:flex swiper-button-next opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
    <div class="hidden lg:flex swiper-button-prev opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
  </div>
</div>

{% comment %} Sección de Testimonios {% endcomment %}
<div class="text-center mb-8 mt-10">
    <h2 class="text-3xl font-extrabold text-gray-900">{{ section.settings.testimonials_heading }}</h2>
    <p class="mt-4 text-gray-500">{{ section.settings.testimonials_subheading }}</p>
</div>

<div class="ml-[0.4em] lg:ml-20 lg:mr-20">
  <div class="swiper myTestimonialsSwiper mt-10">
    <div class="swiper-wrapper swiper-wrapper-testimonio">
      {% for block in section.blocks %}
        {% if block.type == 'testimonial' %}
          <div class="swiper-slide swiper-testimonio-slide p-8 rounded-lg shadow-lg mb-2">
            <div class="text-[#00796b] text-3xl">"</div>
            <p class="mt-4 text-gray-800 leading-relaxed">{{ block.settings.testimonial_text }}</p>
            <div class="mt-6">
              <p class="text-lg font-semibold text-gray-900">{{ block.settings.author_name }}</p>
              <p class="text-gray-500">{{ block.settings.author_role }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} Sección Nosotros {% endcomment %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center">
    <h1 class="text-3xl font-extrabold text-gray-900">{{ section.settings.about_heading }}</h1>
    <p class="mt-4 text-xl text-gray-600">{{ section.settings.about_description }}</p>
    
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8 text-center md:text-left">
        <!-- Misión -->
        <div>
            <h2 class="text-2xl font-bold text-gray-800">{{ section.settings.mission_heading }}</h2>
            <p class="mt-4 text-gray-600 leading-relaxed">
                {{ section.settings.mission_text }}
            </p>
        </div>
        <!-- Visión -->
        <div>
            <h2 class="text-2xl font-bold text-gray-800">{{ section.settings.vision_heading }}</h2>
            <p class="mt-4 text-gray-600 leading-relaxed">
                {{ section.settings.vision_text }}
            </p>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Contenido Principal",
    "settings": [
      {
        "type": "header",
        "content": "Nuevos Productos"
      },
      {
        "type": "text",
        "id": "new_products_title",
        "label": "Título",
        "default": "Nuevos Ingresos"
      },
      {
        "type": "text",
        "id": "new_products_subtitle",
        "label": "Subtítulo",
        "default": "Nuestros productos más recientes"
      },
      {
        "type": "text",
        "id": "new_products_button_text",
        "label": "Texto del botón",
        "default": "Ver Tienda"
      },
      {
        "type": "url",
        "id": "new_products_link",
        "label": "Enlace del botón"
      },
      {
        "type": "header",
        "content": "Productos en Oferta"
      },
      {
        "type": "text",
        "id": "sale_products_title",
        "label": "Título",
        "default": "En Oferta"
      },
      {
        "type": "text",
        "id": "sale_products_subtitle",
        "label": "Subtítulo",
        "default": "Encuentra nuestros productos con rebaja"
      },
      {
        "type": "text",
        "id": "sale_products_button_text",
        "label": "Texto del botón",
        "default": "Ver Tienda"
      },
      {
        "type": "url",
        "id": "sale_products_link",
        "label": "Enlace del botón"
      },
      {
        "type": "header",
        "content": "Productos Recomendados"
      },
      {
        "type": "text",
        "id": "recommended_products_title",
        "label": "Título",
        "default": "Productos Recomendados"
      },
      {
        "type": "text",
        "id": "recommended_products_subtitle",
        "label": "Subtítulo",
        "default": "Lo mejor para ti"
      },
      {
        "type": "text",
        "id": "recommended_products_button_text",
        "label": "Texto del botón",
        "default": "Ver Tienda"
      },
      {
        "type": "url",
        "id": "recommended_products_link",
        "label": "Enlace del botón"
      }
    ]
  }
  {% endschema %}