<!-- Slider de solo texto -->
<div class="contenedor-swiper-texto z-10">
  <div class="swiper myTextSwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'text_slide' %}
          <div class="swiper-slide swiper-text-slide">{{ block.settings.text }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} Portada de video y descripción {% endcomment %}
<section class="relative h-[500px] overflow-hidden">
  <!-- Video de fondo -->
  {% if section.settings.background_video_url %}
    <video class="absolute inset-0 w-full h-full object-cover" autoplay muted loop playsinline>
      <source src="{{ section.settings.background_video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  {% endif %}

  <!-- Contenido sobre el video -->
  <div class="relative z-10 flex items-center justify-center h-full bg-black bg-opacity-50">
    <div class="text-center text-white p-4">
      {% if section.settings.logo_image %}
        <div class="flex justify-center">
          <img src="{{ section.settings.logo_image | img_url: '350x' }}" alt="Logo">
        </div>
      {% endif %}
      {% if section.settings.description_text %}
        <p class="text-lg mb-4">{{ section.settings.description_text }}</p>
      {% endif %}
    </div>
  </div>
</section>

<!-- Carrusel Swiper -->

<section class="contenedor-swiper">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'image_slide' %}
          <div class="swiper-slide" style="background-image: url('{{ block.settings.image | img_url: 'master' }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <div style="text-align: center; padding-top: 20px;">
              <div class="flex justify-center">
                {% assign collection = collections[block.settings.collection_handle] %}
                {% if collection and collection.image %}
                  <img src="{{ collection.image | img_url: '350x' }}" alt="{{ collection.title }} " style="max-width: 35px; max-height: 35px;">
                {% endif %}
              </div>
              {% if block.settings.collection_name %}
                <h1 class="text-white">{{ block.settings.collection_name }}</h1>
              {% endif %}
            </div>
            <div style="text-align: center; padding-bottom: 20px;">
              {% if block.settings.collection_url %}
                <a href="{{ block.settings.collection_url }}" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar →</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</section>




<!-- Configuración del esquema de ShopifyS -->
{% schema %}
  {
    "name": "Hero Index",
    "settings": [
      {
        "type": "url",
        "id": "background_video_url",
        "label": "URL del video de fondo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo sobre el video"
      },
      {
        "type": "text",
        "id": "description_text",
        "label": "Texto de descripción"
      }
    ],
    "blocks": [
      {
        "type": "text_slide",
        "name": "Texto de diapositiva",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Texto"
          }
        ]
      },
      {
        "type": "image_slide",
        "name": "Diapositiva de imagen",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen de fondo"
          },
          {
            "type": "text",
            "id": "collection_name",
            "label": "Nombre de la colección"
          },
          {
            "type": "url",
            "id": "collection_url",
            "label": "URL de la colección"
          },
          {
            "type": "collection",
            "id": "collection_handle",
            "label": "Colección"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Index",
        "category": "Slideshow"
      }
    ]
  }
  {% endschema %}
  
  
  