

<!-- Nuevo slider de solo texto -->
<div class="contenedor-swiper-texto z-10">
  <div class="swiper myTextSwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide swiper-text-slide">
          {{ block.settings.slide_text }}
        </div>
      {% endfor %}
    </div>
    <!-- La paginación ha sido eliminada -->
  </div>
</div>




{% comment %} Portada video, imagen y descripción dinámicos {% endcomment %}

<section class="relative h-[500px] overflow-hidden">
  <!-- Video de fondo -->
  {% if section.settings.portada_video %}
    <video class="absolute inset-0 w-full h-full object-cover" autoplay muted loop playsinline>
      <source src="{{ section.settings.portada_video | file_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  {% endif %}

  <!-- Contenido sobre el video -->
  <div class="relative z-10 flex items-center justify-center h-full bg-black bg-opacity-50">
    <div class="text-center text-white p-4">
      <div class="flex justify-center">
        {% if section.settings.portada_imagen %}
          <img src="{{ section.settings.portada_imagen | img_url: '350x' }}" width="350" alt="Portada Imagen">
        {% endif %}
      </div>
      <p class="text-lg mb-4">{{ section.settings.portada_descripcion }}</p>

    </div>
  </div>
</section>


{% comment %} carousel swiperS {% endcomment %}
<section class="contenedor-swiper">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('{{ 'motherboard-category.jpg' | asset_url }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
      <div style="text-align: center; padding-top: 20px;">
           <div class=" flex justify-center">
          {% render 'icon-category-boards' %}
          </div>
          <h1 class="text-white">Boards</h1>
      </div>
      <div style="text-align: center; padding-bottom: 20px;">
          <a href="#" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar Componentes Básicos →</a>
      </div>
  </div>

  <div class="swiper-slide" style="background-image: url('{{ 'components-category.jpg' | asset_url }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <div style="text-align: center; padding-top: 20px;">
         <div class=" flex justify-center">
        {% render 'icon-category-components' %}
        </div>
        <h1 class="text-white">Componentes</h1>
    </div>
    <div style="text-align: center; padding-bottom: 20px;">
        <a href="#" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar Semiconductores →</a>
    </div>
</div>
    <div class="swiper-slide" style="background-image: url('{{ 'motherboard-category.jpg' | asset_url }}'); background-size: cover; background-position: center;">
        <h1 class="text-white">hola 2</h1>
    </div>
   
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
    <div class="swiper-slide">Slide 7</div>
    <div class="swiper-slide">Slide 8</div>
    <div class="swiper-slide">Slide 9</div>
  </div>
  <div class="swiper-scrollbar"></div>
</div>
</section>



{% schema %}
  {
    "name": "HeroIndex",
    "settings": [
      {
        "type": "video_url",
        "id": "portada_video",
        "label": "Video de Portada"
      },
      {
        "type": "image_picker",
        "id": "portada_imagen",
        "label": "Imagen sobre el Video"
      },
      {
        "type": "text",
        "id": "portada_descripcion",
        "label": "Descripción",
        "default": "Lo mejor en electrónica en Costa Rica"
      }
    ],
    "blocks": [
      {
        "type": "text_slide",
        "name": "Texto de la Diapositiva",
        "settings": [
          {
            "type": "text",
            "id": "slide_text",
            "label": "Texto de la diapositiva"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Slider",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  
  