
<!-- Nuevo slider de solo texto -->
<div class="contenedor-swiper-texto z-10">
  <div class="swiper myTextSwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide swiper-text-slide">{{ block.settings.slide_text }}</div>
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} portada video y descripcion {% endcomment %}

<section class="relative h-[500px] overflow-hidden">
  <!-- Video de fondo -->
  <video class="absolute inset-0 w-full h-full object-cover" autoplay muted loop playsinline>
    <source src="{{ section.settings.background_video }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Contenido sobre el video -->
  <div class="relative z-10 flex items-center justify-center h-full bg-black bg-opacity-50">
    <div class="text-center text-white p-4">
      <div class="flex justify-center">
        <img src="{{ section.settings.hero_image | asset_url }}" width="350" alt="">
      </div>
      <p class="text-lg mb-4">{{ section.settings.hero_description }}</p>
    </div>
  </div>
</section>


{% comment %} carousel swiperS {% endcomment %}
<section class="contenedor-swiper">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('{{ 'motherboard-category.jpg' | asset_url }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
      <div style="text-align: center; padding-top: 20px;">
           <div class=" flex justify-center">
          {% render 'icon-category-boards' %}
          </div>
          <h1 class="text-white">Boards</h1>
      </div>
      <div style="text-align: center; padding-bottom: 20px;">
          <a href="#" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar Componentes Básicos →</a>
      </div>
  </div>

  <div class="swiper-slide" style="background-image: url('{{ 'components-category.jpg' | asset_url }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <div style="text-align: center; padding-top: 20px;">
         <div class=" flex justify-center">
        {% render 'icon-category-components' %}
        </div>
        <h1 class="text-white">Componentes</h1>
    </div>
    <div style="text-align: center; padding-bottom: 20px;">
        <a href="#" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar Semiconductores →</a>
    </div>
</div>
    <div class="swiper-slide" style="background-image: url('{{ 'motherboard-category.jpg' | asset_url }}'); background-size: cover; background-position: center;">
        <h1 class="text-white">hola 2</h1>
    </div>
   
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
    <div class="swiper-slide">Slide 7</div>
    <div class="swiper-slide">Slide 8</div>
    <div class="swiper-slide">Slide 9</div>
  </div>
  <div class="swiper-scrollbar"></div>
</div>
</section>


{% schema %}
  {
    
    "name": "Hero Index",
    "settings": [
      
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Imagen del héroe"
      
      },
      {
        "type": "text",
        "id": "hero_description",
        "label": "Descripción del héroe"
       
      }
    ],
    "blocks": [
      {
        "type": "text_slide",
        "name": "Diapositiva de Texto",
        "settings": [
          {
            "type": "text",
            "id": "slide_text",
            "label": "Texto de la diapositiva"
      
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Index",
        "category": "Portada"
      }
    ]
  }
{% endschema %}
  