

<!-- Nuevo slider de solo texto -->
<!-- Contenido HTML para el slider de texto y la portada de video -->
<div class="contenedor-swiper-texto z-10">
  <div class="swiper myTextSwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      {% if block.type == 'slide' %}
      <div class="swiper-slide swiper-text-slide">{{ block.settings.text }}</div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} portada video y descripcion {% endcomment %}

<section class="relative h-[500px] overflow-hidden">
   <!-- Video de fondo -->
   {% if section.settings.background_video_url %}
    <video class="absolute inset-0 w-full h-full object-cover" autoplay muted loop playsinline>
      <source src="{{ section.settings.background_video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% endif %}

  <!-- Contenido sobre el video   -->
  <div class="relative z-10 flex items-center justify-center h-full bg-black bg-opacity-50">
    <div class="text-center text-white p-4">
      <div class="flex justify-center">
        <img src="{{ section.settings.logo_image | img_url: '350x' }}" alt="Logo">
      </div>
      <p class="text-lg mb-4">{{ section.settings.description_text }}</p>
    </div>
  </div>
</section>


{% comment %} carousel swiper {% endcomment %}
<section class="contenedor-swiper">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('{{ 'motherboard-category.jpg' | asset_url }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
      <div style="text-align: center; padding-top: 20px;">
           <div class=" flex justify-center">
          {% render 'icon-category-boards' %}
          </div>
          <h1 class="text-white">Boards</h1>
      </div>
      <div style="text-align: center; padding-bottom: 20px;">
          <a href="#" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar Componentes Básicos →</a>
      </div>
  </div>

  <div class="swiper-slide" style="background-image: url('{{ 'components-category.jpg' | asset_url }}'); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <div style="text-align: center; padding-top: 20px;">
         <div class=" flex justify-center">
        {% render 'icon-category-components' %}
        </div>
        <h1 class="text-white">Componentes</h1>
    </div>
    <div style="text-align: center; padding-bottom: 20px;">
        <a href="#" class="text-white" style="font-size: 18px; text-decoration: none;">Comprar Semiconductores →</a>
    </div>
</div>
    <div class="swiper-slide" style="background-image: url('{{ 'motherboard-category.jpg' | asset_url }}'); background-size: cover; background-position: center;">
        <h1 class="text-white">hola 2</h1>
    </div>
   
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
    <div class="swiper-slide">Slide 7</div>
    <div class="swiper-slide">Slide 8</div>
    <div class="swiper-slide">Slide 9</div>
  </div>
  <div class="swiper-scrollbar"></div>
</div>
</section>


<!-- Configuración del esquema de ShopifyS -->
{% schema %}
  {
    "name": "Hero Index",
    "settings": [
      {
      "type": "url",
      "id": "background_video_url",
      "label": "URL del video de fondo"
    },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo sobre el video"
      },
      {
        "type": "text",
        "id": "description_text",
        "label": "Texto de descripción"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Diapositiva",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Texto de la diapositiva"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Index"
      }
    ]
  }
  {% endschema %}