<div x-data="{ open: false }" x-init="$watch('open', value => document.body.classList.toggle('overflow-hidden', value))" class="container mx-auto px-4 md:px-20 flex flex-wrap lg:flex-nowrap gap-8">
  
  <!-- Contenedor de Filtros y Ordenar para móviles y tabletas -->
  <div class="w-full lg:hidden mb-0 lg:mb-4 bg-[#1D495B] p-4 rounded-lg">
    <div class="flex justify-between items-center">
      <button @click="open = true" class="flex items-center px-4 py-2 border border-gray-300 rounded-lg bg-white text-gray-700 hover:bg-gray-100 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h16a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1v-2zM3 16a1 1 0 011-1h16a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1v-2z" />
        </svg>
        Filtros
      </button>

      <!-- Formulario para ordenar productos en móvil -->
      <form id="sort_by_form_mobile" action="{{ routes.search_url }}" method="get" class="flex items-center">
        <input type="hidden" name="q" value="{{ search.terms | escape }}">
        <input type="hidden" name="options[prefix]" value="last">
        <label for="sort-by-mobile" class="sr-only">Ordenar por:</label>
        <select id="sort-by-mobile" name="sort_by" onchange="this.form.submit()" class="border-gray-300 rounded">
          <option value="relevance" {% if search.sort_by == "relevance" %}selected{% endif %}>Relevancia</option>
          <option value="best-selling" {% if search.sort_by == "best-selling" %}selected{% endif %}>Más vendidos</option>
          <option value="title-ascending" {% if search.sort_by == "title-ascending" %}selected{% endif %}>A-Z</option>
          <option value="title-descending" {% if search.sort_by == "title-descending" %}selected{% endif %}>Z-A</option>
          <option value="price-ascending" {% if search.sort_by == "price-ascending" %}selected{% endif %}>Precio: Menor a mayor</option>
          <option value="price-descending" {% if search.sort_by == "price-descending" %}selected{% endif %}>Precio: Mayor a menor</option>
          <option value="created-descending" {% if search.sort_by == "created-descending" %}selected{% endif %}>Nuevos a antiguos</option>
          <option value="created-ascending" {% if search.sort_by == "created-ascending" %}selected{% endif %}>Antiguos a nuevos</option>
        </select>
      </form>
    </div>

    <!-- Contenedor para mostrar filtros seleccionados en móviles dentro del mismo contenedor -->
    {%- assign has_active_filters = false -%}
    {%- for filter in search.filters -%}
      {%- if filter.active_values.size > 0 -%}
        {%- assign has_active_filters = true -%}
      {%- endif -%}
      {%- if filter.type == "price_range" -%}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
          {%- assign has_active_filters = true -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if has_active_filters -%}
      <div class="mt-4">
        <div class="flex justify-between items-center mb-2">
          <span class="text-white font-medium">Filtros:</span>
          <a href="{{ routes.search_url }}?q={{ search.terms | escape }}" class="text-[#52A1BF] underline hover:no-underline cursor-pointer">Remover todo</a>
        </div>
        <div class="space-y-2">
          <!-- Filtros seleccionados -->
          {%- for filter in search.filters -%}
            {%- if filter.type == "price_range" -%}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                <div class="bg-white text-[#1D495B] px-4 py-2 rounded-lg flex justify-between items-center">
                  <span>{{ filter.min_value.value | money }} - {{ filter.max_value.value | money }}</span>
                  <a href="{{ filter.url_to_remove }}" class="ml-2 text-[#1D495B] hover:text-gray-500 cursor-pointer">&times;</a>
                </div>
              {%- endif -%}
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <div class="bg-white text-[#1D495B] px-4 py-2 rounded-lg flex justify-between items-center">
                  <span>{{ filter.label }}: {{ filter_value.label }}</span>
                  <a href="{{ filter_value.url_to_remove }}" class="ml-2 text-[#1D495B] hover:text-gray-500 cursor-pointer">&times;</a>
                </div>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>

  <!-- Overlay oscuro -->
  <div x-show="open" @click="open = false" x-cloak class="fixed inset-0 bg-black opacity-50 z-40 lg:hidden"></div>

  <!-- Contenedor de Filtros -->
  <div :class="{'block': open, 'hidden': !open}" class="fixed inset-y-0 right-0 w-64 bg-white shadow-lg z-[300] lg:transform-none lg:relative lg:translate-x-0 lg:w-1/4 lg:bg-transparent lg:shadow-none lg:block hidden flex flex-col">
    
    <!-- Cerrar botón en móviles -->
    <div class="flex justify-end lg:hidden p-4">
      <button @click="open = false" class="text-gray-700 hover:text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>

    <!-- Scrollable Filters -->
    <div class="flex-1 overflow-y-auto p-4 border md:border-gray-200 md:rounded-lg md:mb-20">
      
      {% render 'filter-search' %}
    </div>
    
  </div>

  <!-- Contenedor de Productos -->
  <div class="w-full lg:w-3/4">
    
    <!-- Información de Productos y Orden solo para pantallas grandes -->
    <div class="lg:flex justify-between items-center mb-6 md:mx-auto bg-[#1D495B] p-2 lg:p-5 rounded-lg w-full text-center lg:text-left">
      <div class="text-white font-medium  lg:mb-0">
        {{ search.results_count }} Resultados para "{{ search.terms | escape }}"
      </div>
      <div class="hidden lg:block">
        <!-- Formulario para ordenar productos solo en pantallas grandes -->
        <form id="sort_by_form" action="{{ routes.search_url }}" method="get">
          <input type="hidden" name="q" value="{{ search.terms | escape }}">
          <input type="hidden" name="options[prefix]" value="last">
          <label for="sort-by" class="text-white font-medium mr-2">Ordenar por:</label>
          <select id="sort-by" name="sort_by" onchange="this.form.submit()" class="border-gray-300 rounded">
            <option value="relevance" {% if search.sort_by == "relevance" %}selected{% endif %}>Relevancia</option>
            <option value="best-selling" {% if search.sort_by == "best-selling" %}selected{% endif %}>Más vendidos</option>
            <option value="title-ascending" {% if search.sort_by == "title-ascending" %}selected{% endif %}>A-Z</option>
            <option value="title-descending" {% if search.sort_by == "title-descending" %}selected{% endif %}>Z-A</option>
            <option value="price-ascending" {% if search.sort_by == "price-ascending" %}selected{% endif %}>Precio: Menor a mayor</option>
            <option value="price-descending" {% if search.sort_by == "price-descending" %}selected{% endif %}>Precio: Mayor a menor</option>
            <option value="created-descending" {% if search.sort_by == "created-descending" %}selected{% endif %}>Nuevos a antiguos</option>
            <option value="created-ascending" {% if search.sort_by == "created-ascending" %}selected{% endif %}>Antiguos a nuevos</option>
          </select>
        </form>
      </div>
    </div>

    <div class="px-4 md:px-0 py-8">
      {% paginate search.results by 12 %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          {% for product in search.results %}
            {% render 'product-card', product: product %}
          {% else %}
            <p>No se encontraron resultados para "{{ search.terms | escape }}"</p>
          {% endfor %}
        </div>
        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    </div>
  </div>
</div>
