<div class="container mx-auto flex flex-wrap lg:flex-nowrap gap-8">
  
  <!-- Contenedor de Filtros -->
  <aside class="w-full lg:w-1/4 bg-white p-4 rounded-lg shadow mb-5">

    <h2 class="font-semibold mb-4 text-lg bg-gray-100 p-4 rounded-lg">Categorías</h2>
    <ul class="space-y-2 mb-10">
      {% for link in linklists.categorias.links %}
        {% if link.links.size > 0 %}
          <li class="border-b border-gray-200">
            <details class="group">
              <summary class="cursor-pointer p-2 flex justify-between items-center text-gray-800 font-medium hover:bg-gray-100 rounded transition-colors duration-300">
                {{ link.title }}
                <span class="ml-2 transform transition-transform group-open:rotate-90 text-gray-500">
                  &#x25B8; <!-- Flecha más delgada y discreta -->
                </span>
              </summary>
              <ul class="pl-4">
                {% for sublink in link.links %}
                  <li class="py-2">
                    <a href="{{ sublink.url }}" class="text-gray-600 hover:text-gray-800 transition-colors duration-300">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </details>
          </li>
        {% else %}
          <li class="border-b border-gray-200">
            <a href="{{ link.url }}" class="block p-2 text-gray-800 font-medium hover:bg-gray-100 rounded transition-colors duration-300">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  
    {% render 'filter-collection' %}
  </aside>

  <!-- Contenedor de Productos -->
  <div class="w-full lg:w-3/4">
    
    <!-- Información de Productos y Orden -->
    <div class="flex justify-between items-center mb-6">
      <div class="text-gray-600 font-medium">
        {{ collection.products_count }} Productos
      </div>
      <div>
        <!-- Formulario para ordenar productos -->
        <form id="sort_by_form" action="" method="get">
          <label for="sort-by" class="text-gray-600 font-medium mr-2">Ordenar por:</label>
          <select id="sort-by" name="sort_by" onchange="this.form.submit()" class="border-gray-300 rounded">
            <option value="best-selling" {% if collection.sort_by == "best-selling" %}selected{% endif %}>Más vendidos</option>
            <option value="title-ascending" {% if collection.sort_by == "title-ascending" %}selected{% endif %}>A-Z</option>
            <option value="title-descending" {% if collection.sort_by == "title-descending" %}selected{% endif %}>Z-A</option>
            <option value="price-ascending" {% if collection.sort_by == "price-ascending" %}selected{% endif %}>Precio: Menor a mayor</option>
            <option value="price-descending" {% if collection.sort_by == "price-descending" %}selected{% endif %}>Precio: Mayor a menor</option>
            <option value="created-descending" {% if collection.sort_by == "created-descending" %}selected{% endif %}>Nuevos a antiguos</option>
            <option value="created-ascending" {% if collection.sort_by == "created-ascending" %}selected{% endif %}>Antiguos a nuevos</option>
          </select>
        </form>
      </div>
    </div>

    <div class="px-4 py-8">
      {% paginate collection.products by 12 %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          {% for product in collection.products %}
            {% render 'product-card', product: product %}
          {% else %}
            <p>No hay productos en esta colección</p>
          {% endfor %}
        </div>
        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    </div>
  </div>

</div>
